{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Aluno Drummond <br />
Mantemos um amplo canal de relacionamento, para atender a todas as suas necessidades. Acesse aqui<br />

Central de Relacionamento<br />
(11) 2207-7686

E-mail
atendimento@drummond.com.br <br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hotmail.com</a>
</address>

{% endblock %}
